<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contents</key>
	<dict>
		<key>ca.indev</key>
		<dict>
			<key>ca.indev.MailActOn</key>
			<string>https://smallcubed.com/mao</string>
			<key>ca.indev.MailPerspectives</key>
			<string>https://smallcubed.com/mp</string>
			<key>ca.indev.MailTags</key>
			<string>https://smallcubed.com/mt</string>
			<key>name</key>
			<string>SmallCubed Inc.</string>
		</dict>
		<key>com.c-command</key>
		<dict>
			<key>com.c-command.spamsieve.mailplugin</key>
			<string>https://c-command.com/spamsieve/</string>
			<key>name</key>
			<string>C-Command Software</string>
		</dict>
		<key>com.chungwasoft</key>
		<dict>
			<key>com.chungwasoft.CargoLifter</key>
			<string>http://www.chungwasoft.com/cargolifter</string>
			<key>com.chungwasoft.Face2Face</key>
			<string>http://www.chungwasoft.com/face2face</string>
			<key>com.chungwasoft.ForgetMeNot</key>
			<string>http://www.chungwasoft.com/forgetmenot</string>
			<key>com.chungwasoft.Graffiti</key>
			<string>http://www.chungwasoft.com/graffiti</string>
			<key>name</key>
			<string>ChungwaSoft</string>
		</dict>
		<key>com.condition-alpha</key>
		<dict>
			<key>com.condition-alpha.composeit</key>
			<string>http://www.condition-alpha.com/software/composeit.xhtml</string>
			<key>name</key>
			<string>Condition-ALPHA</string>
		</dict>
		<key>com.creativeinaustria</key>
		<dict>
			<key>com.creativeinaustria.DockStar</key>
			<string>https://creativeinaustria.com/DockStar</string>
			<key>com.creativeinaustria.LetterOpener.MailPlugin</key>
			<string>https://creativeinaustria.com/LetterOpenerPro</string>
			<key>name</key>
			<string>Creative in Austria</string>
		</dict>
		<key>com.dervishsoftware</key>
		<dict>
			<key>name</key>
			<string>Dervish Software</string>
		</dict>
		<key>com.ecamm</key>
		<dict>
			<key>comm.ecamm.dockstar</key>
			<string>http://www.ecamm.com/mac/dockstar</string>
			<key>name</key>
			<string>Ecamm Network, LLC.</string>
		</dict>
		<key>com.erikhinterbichler</key>
		<dict>
			<key>com.erikhinterbichler.Herald</key>
			<string>http://erikhinterbichler.com/software/herald/</string>
			<key>name</key>
			<string>Erik Hinterbichler</string>
		</dict>
		<key>com.feingeist</key>
		<dict>
			<key>com.feingeist.MailButler</key>
			<string>https://www.feingeist.io/mailbutler/</string>
			<key>name</key>
			<string>Feingeist Software GmbH</string>
			<key>url</key>
			<string>https:/www.feingeist.io</string>
		</dict>
		<key>com.smallcubed</key>
		<dict>
			<key>ca.indev.MailActOn</key>
			<string>https://smallcubed.com/mao</string>
			<key>ca.indev.MailPerspectives</key>
			<string>https://smallcubed.com/mp</string>
			<key>ca.indev.MailTags</key>
			<string>https://smallcubed.com/mt</string>
			<key>com.littleknownsoftware.SignatureProfiler</key>
			<string>https://smallcubed/sp</string>
			<key>com.littleknownsoftware.Tealeaves</key>
			<string>https://tea-leav.es</string>
			<key>name</key>
			<string>SmallCubed Inc.</string>
		</dict>
		<key>com.sweetpproductions</key>
		<dict>
			<key>name</key>
			<string>SweetP Productions</string>
		</dict>
		<key>cz.kppm</key>
		<dict>
			<key>canonical</key>
			<string>info.lokiware</string>
		</dict>
		<key>info.lokiware</key>
		<dict>
			<key>cz.kppm.loki.mailattachmentsiconizer</key>
			<string>http://lokiware.info/Attachment-Tamer</string>
			<key>name</key>
			<string>Lokiware</string>
			<key>url</key>
			<string>http://lokiware.info</string>
		</dict>
		<key>it.noware</key>
		<dict>
			<key>canonical</key>
			<string>net.zxq.noware-it</string>
		</dict>
		<key>name.klep</key>
		<dict>
			<key>name</key>
			<string>Robert Klep</string>
			<key>name.klep.mail.QuoteFix</key>
			<string>https://github.com/robertklep/quotefixformac/releases/latest</string>
		</dict>
		<key>net.welchwold</key>
		<dict>
			<key>name</key>
			<string>Gregory F. Welch</string>
			<key>net.welchwold.mailfollowup</key>
			<string>http://www.cs.unc.edu/~welch/MailFollowup/</string>
			<key>net.welchwold.mailrecent</key>
			<string>http://www.cs.unc.edu/~welch/MailRecent/</string>
			<key>url</key>
			<string>http://cs.unc.edu/~welch</string>
		</dict>
		<key>net.zxq.noware-it</key>
		<dict>
			<key>name</key>
			<string>noware</string>
			<key>url</key>
			<string>http://noware-it.zxq.net</string>
		</dict>
		<key>org.gpgtools</key>
		<dict>
			<key>name</key>
			<string>GPGTools Org</string>
			<key>url</key>
			<string>https://gpgtools.org/gpgmail</string>
		</dict>
	</dict>
	<key>date</key>
	<date>2015-09-18T10:30:00Z</date>
</dict>
</plist>
