<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>action-items</key>
	<array>
		<dict>
			<key>description</key>
			<string>Test File 1</string>
			<key>destination-path</key>
			<string>/Users/scott/Downloads/Test</string>
			<key>is-bundle-manager</key>
			<false/>
			<key>name</key>
			<string>Empty File 1</string>
			<key>path</key>
			<string>file-one.txt</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Test File 2</string>
			<key>destination-path</key>
			<string>/Users/scott/Downloads/Test</string>
			<key>is-bundle-manager</key>
			<false/>
			<key>name</key>
			<string>Empty File 2</string>
			<key>path</key>
			<string>file-two.txt</string>
		</dict>
	</array>
	<key>background-image-path</key>
	<string>background-image.png</string>
	<key>completion-message</key>
	<string>Thank you for installing LKSTest.</string>
	<key>configure-mail-min-bundle-version</key>
	<string>4</string>
	<key>confirmation-steps</key>
	<array>
		<dict>
			<key>bullet-title</key>
			<string>What Is It?</string>
			<key>path</key>
			<string>ReleaseNotes.html</string>
			<key>title</key>
			<string>Release Notes</string>
			<key>type</key>
			<string>information</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Install Summary</string>
			<key>type</key>
			<string>confirm</string>
		</dict>
	</array>
	<key>display-name</key>
	<string>LKS Test Installer</string>
	<key>manifest-type</key>
	<string>install</string>
	<key>min-os-major-version</key>
	<string>10.6</string>
</dict>
</plist>
