<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>action-items</key>
	<array>
		<dict>
			<key>destination-path</key>
			<string>~/Downloads/Tests/Apps</string>
			<key>is-bundle-manager</key>
			<true/>
			<key>name</key>
			<string>Mail Bundle Manager</string>
			<key>path</key>
			<string>Delivery/Mail Plugin Manager.app</string>
		</dict>
		<dict>
			<key>destination-path</key>
			<string>~/Downloads/Tests/Bundle</string>
			<key>name</key>
			<string>ExamplePlugin</string>
			<key>path</key>
			<string>Delivery/ExamplePlugin.mailbundle</string>
		</dict>
		<dict>
			<key>destination-path</key>
			<string>~/Downloads/Tests/big_file.dmg</string>
			<key>name</key>
			<string>A 200 MB File</string>
			<key>path</key>
			<string>Large-File.dmg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Previous product name</string>
			<key>path</key>
			<string>~/Library/Mail/Bundles/Sidebar for Infusionsoft.mailbundle</string>
			<key>should-delete-path-if-exists</key>
			<true/>
			<key>should-hide-item</key>
			<true/>
		</dict>
		<dict>
			<key>description</key>
			<string>Just like it says - a thingy with a very long description that should do some wrapping.</string>
			<key>destination-path</key>
			<string>~/Downloads/Tests/thingy.txt</string>
			<key>is-bundle-manager</key>
			<false/>
			<key>name</key>
			<string>Thingy</string>
			<key>path</key>
			<string>Delivery/whatever.txt</string>
		</dict>
	</array>
	<key>background-image-path</key>
	<string>image.png</string>
	<key>completion-message</key>
	<string>Thank you for installing ExamplePlugin.</string>
	<key>configure-mail-min-bundle-version</key>
	<string>4</string>
	<key>confirmation-steps</key>
	<array>
		<dict>
			<key>bullet-title</key>
			<string>What's New</string>
			<key>path</key>
			<string>Something.html</string>
			<key>title</key>
			<string>Release Notes</string>
			<key>type</key>
			<string>information</string>
		</dict>
		<dict>
			<key>license-agreement-required</key>
			<true/>
			<key>path</key>
			<string>MyLicense.rtf</string>
			<key>title</key>
			<string>License</string>
			<key>type</key>
			<string>license</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Install Summary</string>
			<key>type</key>
			<string>confirm</string>
		</dict>
	</array>
	<key>display-name</key>
	<string>ExamplePlugin</string>
	<key>manifest-type</key>
	<string>install</string>
	<key>min-os-major-version</key>
	<string>10.6</string>
</dict>
</plist>
