body {
	font-family: Lucida Grande;
}

.thank-you-note {
	margin: 50px;
	text-align: center;
	font-size: 22px;
}

.order-items-title {
	margin-left: 10%;
	width: 80%;
	display: none;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 0px;
	border-bottom: 1px solid black;
}

.order-item {
	font-size: 12pt;
	display: none;
	padding-top: 20px;
	margin-left: 20px;
}

.product-name {
	color: #3e5c32;
	font-style: italic;
}

.license-info {
	margin-top: 10px;
	font-family: Courier New;
	font-size: 14px;
}

.left-col, .right-col {
	display: inline-block;
	width: 175px;
}

.left-col {
	margin-top: 3px;
	margin-left: 25px;
}.right-col {
	font-weight: bold;
	width: 300px;
}
 .core-body-window .core-section-body {
	padding-top: 5px;
}
 .order-item p {
	margin-left: 20px;
	font-size: 10pt;
}
 .customer-name {
}

.core-body-window .core-section {
	margin-top: 15px;
}
