<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contents</key>
	<dict>
		<key>ca.indev.MailActOn</key>
		<string>http://www.indev.ca/sparkle/MailActOn3.xml</string>
		<key>ca.indev.MailPerspectives</key>
		<string>http://www.indev.ca/sparkle/MailPerspectives.xml</string>
		<key>ca.indev.MailTags</key>
		<string>http://www.indev.ca/sparkle/MailTags4.xml</string>
		<key>com.chungwasoft.CargoLifter</key>
		<string>http://www.chungwasoft.com/library/appcast.php?appName=CargoLifter</string>
		<key>com.chungwasoft.Face2Face</key>
		<string>http://www.chungwasoft.com/library/appcast.php?appName=Face2Face</string>
		<key>com.chungwasoft.ForgetMeNot</key>
		<string>http://www.chungwasoft.com/library/appcast.php?appName=ForgetMeNot</string>
		<key>com.chungwasoft.Graffiti</key>
		<string>http://www.chungwasoft.com/library/appcast.php?appName=Graffiti</string>
		<key>com.chungwasoft.SendLater</key>
		<string>http://www.chungwasoft.com/library/appcast.php?appName=SendLater</string>
		<key>com.creativeinaustria.DockStar</key>
		<string>https://www.creativeinaustria.com/DockStar/services/sparkle3</string>
		<key>com.littleknownsoftware.SignatureProfiler</key>
		<string>http://littleknownsoftware.com/feed/sigpro</string>
		<key>com.littleknownsoftware.Tealeaves</key>
		<string>http://littleknownsoftware.com/feed/sis</string>
	</dict>
	<key>date</key>
	<date>2014-06-23T13:50:00Z</date>
</dict>
</plist>
