<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contents</key>
	<dict>
		<key>ca.indev.MailActOn</key>
		<string>https://s3.amazonaws.com/media.smallcubed.com/sparkle/MailActOn4.xml</string>
		<key>ca.indev.MailPerspectives</key>
		<string>https://s3.amazonaws.com/media.smallcubed.com/sparkle/MailPerspectives2.xml</string>
		<key>ca.indev.MailTags</key>
		<string>https://s3.amazonaws.com/media.cmallcubed.com/sparkle/MailTags5.xml</string>
		<key>com.creativeinaustria.LetterOpener.MailPlugin</key>
		<string>https://www.creativeinaustria.com/OMiC/sparkle8/mail</string>
		<key>com.feingeist.MailButler</key>
		<string>https://www.feingeist.io/fg-library/appcast.php?appName=MailButler</string>
		<key>com.littleknownsoftware.SignatureProfiler</key>
		<string>https://s3.amazonaws.com/media.smallcubed.com/sparkle/SigPro.xml</string>
		<key>com.littleknownsoftware.Tealeaves</key>
		<string>https://s3.amazonaws.com/media.smallcubed.com/sparkle/Tealeaves.xml</string>
	</dict>
	<key>date</key>
	<date>2017-01-16T16:10:00Z</date>
</dict>
</plist>
